.u-block-8007-2 {
  position: absolute;
  bottom: 10px;
  margin-bottom: 0;
}

.u-block-8007-3 {
  position: absolute;
  left: 0;
  width: 45px;
  height: 45px;
  right: auto;
}

.u-block-8007-4 {
  position: absolute;
  right: 0;
  margin-top: 0;
  width: 45px;
  height: 45px;
}

@media (max-width: 1199px) {
  .u-block-8007-3 {
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 575px) {
  .u-block-8007-3 {
    padding: 0;
  }

  .u-block-8007-4 {
    left: auto;
    padding: 0;
  }
}

 .u-section-1-1 {
  background-image: linear-gradient(to bottom, rgba(51, 82, 21, 1), rgba(51, 82, 21, 1)), url('images/default-image.jpg');
  background-repeat: no-repeat, no-repeat;
  background-position: 50% 50%;
  min-height: 696px;
}

.u-section-1-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2)  + 1090px);
  margin: 0 0 0 auto;
}

.u-section-1-1 .u-layout-cell-1 {
  min-height: 696px;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 30px 8px;
}

.u-section-1-1 .u-text-1 {
  font-family: Agbalumo;
  --text-color-var: #335215;
  margin: 117px 0 0 4px;
}

.u-section-1-1 .u-text-2 {
  line-height: 2;
  font-weight: 700;
  margin: 20px 2px 0;
}

.u-section-1-1 .u-image-1 {
  min-height: 696px;
  background-image: url("images/ChatGPTImage31demar.de202611_11_37.png");
  background-position: 50% 50%;
}

.u-section-1-1 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
   .u-section-1-1 {
    background-position: 50% 50%, 50% 50%;
    background-size: cover, cover;
    min-height: 478px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 600px;
  }

  .u-section-1-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1-1 .u-image-1 {
    min-height: 600px;
  }
}

@media (max-width: 991px) {
   .u-section-1-1 {
    min-height: 338px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1-1 .u-image-1 {
    min-height: 460px;
  }

  .u-section-1-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1-1 {
    min-height: 496px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1-1 .u-image-1 {
    min-height: 518px;
  }

  .u-section-1-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1-1 {
    min-height: 304px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1-1 .u-image-1 {
    min-height: 326px;
  }
}

 .u-section-1-2 {
  background-image: linear-gradient(to bottom, rgba(65, 128, 124, 0.5), rgba(65, 128, 124, 0.5)), url('images/default-image.jpg');
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 696px;
}

.u-section-1-2 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-1-2 .u-layout-cell-1 {
  min-height: 696px;
}

.u-section-1-2 .u-container-layout-1 {
  padding: 30px 30px 30px 29px;
}

.u-section-1-2 .u-text-1 {
  font-size: 3rem;
  font-family: Agbalumo;
  font-weight: 400;
  margin: 95px 0 0;
}

.u-section-1-2 .u-text-2 {
  line-height: 2;
  margin: 20px 0 0;
}

.u-section-1-2 .u-image-1 {
  min-height: 696px;
  background-image: url("images/large.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
   .u-section-1-2 {
    min-height: 378px;
    background-position: 50% 50%, 50% 50%;
  }

  .u-section-1-2 .u-sheet-1 {
    min-height: 519px;
  }

  .u-section-1-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1-2 .u-layout-cell-1 {
    min-height: 574px;
  }

  .u-section-1-2 .u-image-1 {
    min-height: 574px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 365px;
  }

  .u-section-1-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1-2 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1-2 .u-image-1 {
    min-height: 440px;
  }

  .u-section-1-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-1-2 .u-image-1 {
    min-height: 495px;
  }

  .u-section-1-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1-2 .u-image-1 {
    min-height: 312px;
  }
}

 .u-section-1-3 {
  background-image: linear-gradient(to bottom, rgba(114, 104, 63, 0.5), rgba(114, 104, 63, 0.5)), url('images/default-image.jpg');
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  background-position: 50% 50%;
  min-height: 696px;
}

.u-section-1-3 .u-layout-wrap-1 {
  width: 1140px;
  margin: 0 auto 0 calc(((100% - 1140px) / 2)  + -51px);
}

.u-section-1-3 .u-layout-cell-1 {
  min-height: 696px;
}

.u-section-1-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: Agbalumo;
  margin: 0;
}

.u-section-1-3 .u-text-2 {
  line-height: 2;
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-1-3 .u-image-1 {
  min-height: 696px;
  background-image: url("images/pexels-photo-4012569.jpeg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
   .u-section-1-3 {
    background-position: 50% 50%, 50% 50%;
    min-height: 452px;
  }

  .u-section-1-3 .u-layout-wrap-1 {
    width: 940px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-1-3 .u-layout-cell-1 {
    min-height: 574px;
  }

  .u-section-1-3 .u-image-1 {
    min-height: 574px;
  }
}

@media (max-width: 991px) {
   .u-section-1-3 {
    min-height: 318px;
  }

  .u-section-1-3 .u-layout-wrap-1 {
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1-3 .u-image-1 {
    min-height: 440px;
  }

  .u-section-1-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1-3 {
    min-height: 473px;
  }

  .u-section-1-3 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-3 .u-image-1 {
    min-height: 495px;
  }

  .u-section-1-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1-3 {
    min-height: 290px;
  }

  .u-section-1-3 .u-layout-wrap-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1-3 .u-layout-cell-1 {
    min-height: 531px;
  }

  .u-section-1-3 .u-text-1 {
    font-size: 2rem;
  }

  .u-section-1-3 .u-text-2 {
    width: auto;
  }

  .u-section-1-3 .u-image-1 {
    min-height: 312px;
  }
}